
slides > slide[data-slide-num="4"] {
  background-image: url(http://pixabay.com/get/7f51dc90499830f3e034/1430579067/hand-427504_1280.png?direct);
  background-size: 100%;
}

slides > slide[data-slide-num="9"] {
  background-image: url(http://upload.wikimedia.org/wikipedia/commons/9/96/Human_Media_Lab_by_Karim_Rashid.jpg);
  background-size: 100%;
}

slides > slide[data-slide-num="12"] {
  background-image: url(http://upload.wikimedia.org/wikipedia/en/0/02/Imac_sunflower2.jpg);
  background-size: 100%;
}

slides > slide[data-slide-num="14"] {
  background-image: url(https://farm9.staticflickr.com/8372/8469463762_566f7e97ca_o.jpg);
  background-size: 100%;
}

slides > slide[data-slide-num="112"] {
  background-image: url(http://pixabay.com/get/b3f3e5154a16ac3854c3/1430579572/silos-406981_1280.jpg?direct);
  background-size: 100%;
}

slides > slide[data-slide-num="113"] {
  background-image: url(http://upload.wikimedia.org/wikipedia/commons/d/d3/Newtons_cradle_animation_book_2.gif);
  background-size: 100%;
}

slides > slide[data-slide-num="114"] {
  background-image: url(https://c1.staticflickr.com/9/8045/8127283172_d2c090a7f8_b.jpg);
  background-size: 100%;
}